<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Book</title>
    </head>
    <body>
        <header>
            <h1>Recipe Book</h1>
            {% if user.is_authenticated %}
            {% with form=None %}
                {% include 'registration/logout.html' %}
            {% endwith %}
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </header>
        <h2>{% block page_title %}{% endblock %}</h2>
        {% block content %} {% endblock %}
    </body> 
</html>